.grid {
  display: grid;
  grid-template-columns: 220px 1fr 0.6fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    'topbar topbar topbar'
    'sidebar main panel';
  height: 100vh;
}

.grid.sidebar-closed {
  grid-template-areas:
    'topbar topbar topbar'
    'main main panel';
}

.topbar {
  background-color: lightblue;
  grid-area: topbar;
}

.sidebar {
  background-color: lightgreen;
  grid-area: sidebar;
}

.main {
  grid-area: main;
  background-color: lightpink;
}



.panel {
  grid-area: panel;
  background-color: coral;
}
